body {
    background: linear-gradient(90deg,rgba(255, 117, 214, 1) 0%, rgba(240, 46, 139, 1) 49%, rgba(152, 83, 237, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.b1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
    
    border-color: white;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 20px;
}
